body {
    height: 100vh;
    width: 100%;
    background-image: url('https://images.pexels.com/photos/17483120/pexels-photo-17483120/free-photo-of-colorful-abstract-background-paper-composition.jpeg');
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  .music_player {
    padding-top: 104px;
    display: flex;
    flex-direction: row;
  }
  
  .player {
   margin: 0 250px;
   width: 466px;
   height: 711px;
   justify-content: center;
   background: rgba(245, 245, 245, 0.75);
   box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
   border-radius: 32px;
  }
  
  .track_art {
    position: relative;
  
  }
  
  div.album_art {
    height:258.02px;
    width:258.02px;
    left:46px;
    margin-top: 41px;
    z-index:1;
    position:absolute;
    background-size: cover;
    background-position: center;
  }
  
  img.vinyl {
    width:242.36px;
    height:242.36px;
    padding-left:182.84px;
    padding-top: 50px;
  }
  
  .title_artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
  }
  
  .title {
    height:33px;
    font-size:24px;
    font-weight:600;
    padding-top: 56.98px;
  }
  
  .artist {
    height: 27px;
    font-size: 27px;
    font-size:24px;
    font-weight:400;
    padding-top: 5px;
  }
  
  .seek_items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .timer {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 45px;
    gap:309px;
  }
  
  .current_time, .total_duration{
    width:38px;
    height:16px;
    font-size: 16px;
  }
  
  .slider {
    background-color: none;
    width: 385px;
    height: 22px;
    padding-top: 15px;
  }
  
  .slider .seek_slider {
    width:100%;
    height:5px;
    display:flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
  
  }
  
  input.seek_slider {
    -webkit-appearance:none;
    appearance: none;
    outline:none;
  }
  
  .seek_slider::-webkit-slider-thumb {
    -webkit-appearance:none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 5px solid #56255C;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); 
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding: 34px 0 0 0;
    gap: 65.015px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(180deg, #96385A 0%, #66255D 100%);
  }
  
  i.fa-solid.fa-backward-step {
    font-size: 52.81px;
  }
  
  i.fa-solid.fa-circle-play {
    font-size: 120px;
  }
  
  i.fa-solid.fa-forward-step {
    font-size: 52.81px;
  }
  
  i.fa-solid.fa-circle-pause {
    font-size: 120px;
  }

  .explore {
    padding: 0;
    margin-left: -170px;
  }

  h2 {
    font-family: 'Noto Sans', sans-serif;
  }
  
  .lyrics {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
  }
  